# Pandas

In [209]:
import pandas as pd

In [210]:
l1=['hassan', 'mahsun', 'mahfooz']
l1

['hassan', 'mahsun', 'mahfooz']

In [211]:
s1=pd.Series(l1, name='Areas' )
s1

0     hassan
1     mahsun
2    mahfooz
Name: Areas, dtype: object

In [212]:
l2=[True,False,True]
s2=pd.Series(l2,index=l1)
s2

hassan      True
mahsun     False
mahfooz     True
dtype: bool

**Creating Series from Dictionary**

In [213]:
D={
    'charminar':100,
    'shaali banda':101,
    'shakker gunj':200,
    'barkus':99
}
D

{'charminar': 100, 'shaali banda': 101, 'shakker gunj': 200, 'barkus': 99}

In [214]:
s1=pd.Series(D)
s1
s1['barkus']

99

**Custom Indexing**

In [215]:
a=[123,456,789,777,999]
b=['A','B','C','D','E']
c=pd.Series(a, index=b)
c

A    123
B    456
C    789
D    777
E    999
dtype: int64

**Creating Series from read.csv method**

In [216]:
data=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv')
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [217]:
d=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv', usecols=['Name'] )
d

                                                   Name
0                                            Wii Sports
1                                     Super Mario Bros.
2                                        Mario Kart Wii
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

**Attributes**

In [218]:
s1.index

Index(['charminar', 'shaali banda', 'shakker gunj', 'barkus'], dtype='object')

In [219]:
s1.values

array([100, 101, 200,  99])

In [220]:
s1.ndim

1

In [221]:
s1.shape

(4,)

In [222]:
s1.unique

<bound method Series.unique of charminar       100
shaali banda    101
shakker gunj    200
barkus           99
dtype: int64>

In [223]:
s1.name

**Methods of Series(Function)**

In [224]:
e=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv', usecols=['Global_Sales']  )
e

       Global_Sales
0             82.74
1             40.24
2             35.82
3             33.00
4             31.37
...             ...
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

[16598 rows x 1 columns]

In [225]:
e.max()

Global_Sales    82.74
dtype: float64

In [226]:
e.min()

Global_Sales    0.01
dtype: float64

In [227]:
e.sum()

Global_Sales    8920.44
dtype: float64

In [228]:
e.prod()

/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:53: RuntimeWarning: overflow encountered in reduce
  return umr_prod(a, axis, dtype, out, keepdims, initial, where)

Global_Sales    inf
dtype: float64

In [229]:
e1=pd.Series([-1,2,3,1])
e1

0   -1
1    2
2    3
3    1
dtype: int64

In [230]:
e1.prod()

-6

In [231]:
e.idxmax()
e.max()

Global_Sales    82.74
dtype: float64

In [232]:
e.idxmin()

Global_Sales    15980
dtype: int64

In [233]:
len(e)

16598

**Head,Tail,Sorted,List,dict,Type (Functions)**

In [234]:
e.head()

   Global_Sales
0         82.74
1         40.24
2         35.82
3         33.00
4         31.37

In [235]:
e.head(11)

    Global_Sales
0          82.74
1          40.24
2          35.82
3          33.00
4          31.37
5          30.26
6          30.01
7          29.02
8          28.62
9          28.31
10         24.76

In [236]:
e.tail()

       Global_Sales
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

In [237]:
sorted(e)

['Global_Sales']

In [238]:
s=pd.Series(['hj','mj','mj'])
s
list(s)

['hj', 'mj', 'mj']

In [239]:
dict(e)

{'Global_Sales': 0        82.74
 1        40.24
 2        35.82
 3        33.00
 4        31.37
          ...
 16593     0.01
 16594     0.01
 16595     0.01
 16596     0.01
 16597     0.01
 Name: Global_Sales, Length: 16598, dtype: float64}

In [240]:
type(e)

pandas.core.frame.DataFrame

**All,Any,any_Prefix and any_suffix (Functions)**

In [241]:
s=pd.Series([True,False,True,True])
s1=pd.Series([True,True,True,True])

In [242]:
all(s)

False

In [243]:
all(s1)

True

In [244]:
any(s)

True

In [245]:
any(s1)

True

In [246]:
x=pd.Series([10,20,30,40,50],index=('h1','h2','h3','h4','h5'))
x

h1    10
h2    20
h3    30
h4    40
h5    50
dtype: int64

In [247]:
x.add_prefix('pre')

preh1    10
preh2    20
preh3    30
preh4    40
preh5    50
dtype: int64

In [248]:
x.add_suffix('pro')

h1pro    10
h2pro    20
h3pro    30
h4pro    40
h5pro    50
dtype: int64

**Sorting and Inplace **

In [249]:
import numpy as np
import pandas as pd

In [250]:
a=np.random.randint(0,20,10)
l=list(a)
l

[16, 7, 1, 16, 2, 1, 12, 13, 1, 9]

In [251]:
s=pd.Series(l)
s

0    16
1     7
2     1
3    16
4     2
5     1
6    12
7    13
8     1
9     9
dtype: int64

In [252]:
s.sort_values(ascending=False, inplace=True)
s

0    16
3    16
7    13
6    12
9     9
1     7
4     2
2     1
5     1
8     1
dtype: int64

In [253]:
s.sort_index()

0    16
1     7
2     1
3    16
4     2
5     1
6    12
7    13
8     1
9     9
dtype: int64

**Drop Duplicates()Functions**

In [254]:
b=pd.Series(['Hassan','Mahsun','Mahfooz','Mahsun','AbdulRahman','Mahsun'],index=('id1','id2','id3','id4','id5','id6'))
b

id1         Hassan
id2         Mahsun
id3        Mahfooz
id4         Mahsun
id5    AbdulRahman
id6         Mahsun
dtype: object

In [255]:
b.drop_duplicates(keep=False)

id1         Hassan
id3        Mahfooz
id5    AbdulRahman
dtype: object

In [256]:
b

id1         Hassan
id2         Mahsun
id3        Mahfooz
id4         Mahsun
id5    AbdulRahman
id6         Mahsun
dtype: object

In [257]:
d=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv',usecols=['Name'])
d

                                                   Name
0                                            Wii Sports
1                                     Super Mario Bros.
2                                        Mario Kart Wii
3                                     Wii Sports Resort
4                              Pokemon Red/Pokemon Blue
...                                                 ...
16593                Woody Woodpecker in Crazy Castle 5
16594                     Men in Black II: Alien Escape
16595  SCORE International Baja 1000: The Official Game
16596                                        Know How 2
16597                                  Spirits & Spells

[16598 rows x 1 columns]

In [258]:
d.count()

Name    16598
dtype: int64

In [259]:
d.drop_duplicates()

                                                    Name
0                                             Wii Sports
1                                      Super Mario Bros.
2                                         Mario Kart Wii
3                                      Wii Sports Resort
4                               Pokemon Red/Pokemon Blue
...                                                  ...
16589  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...
16590  Eiyuu Densetsu: Sora no Kiseki Material Collec...
16592                                           Plushees
16593                 Woody Woodpecker in Crazy Castle 5
16596                                         Know How 2

[11493 rows x 1 columns]

In [260]:
d.drop_duplicates(keep=False)

                                                    Name
0                                             Wii Sports
2                                         Mario Kart Wii
3                                      Wii Sports Resort
4                               Pokemon Red/Pokemon Blue
6                                  New Super Mario Bros.
...                                                  ...
16589  Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...
16590  Eiyuu Densetsu: Sora no Kiseki Material Collec...
16592                                           Plushees
16593                 Woody Woodpecker in Crazy Castle 5
16596                                         Know How 2

[8718 rows x 1 columns]

**Filling the Null Values**

In [261]:
p=pd.Series([100,200,None,400,505],index=('mumbai','dehli','jaipur','hyderbad','hyd2'))
p

mumbai      100.0
dehli       200.0
jaipur        NaN
hyderbad    400.0
hyd2        505.0
dtype: float64

In [262]:
p.isna()

mumbai      False
dehli       False
jaipur       True
hyderbad    False
hyd2        False
dtype: bool

In [263]:
mask=p.dropna()
mask

mumbai      100.0
dehli       200.0
hyderbad    400.0
hyd2        505.0
dtype: float64

In [264]:
p.fillna(300)

mumbai      100.0
dehli       200.0
jaipur      300.0
hyderbad    400.0
hyd2        505.0
dtype: float64

**Describe**

In [265]:
data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [266]:
data1=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv',usecols=['Year'])
data1

         Year
0      2006.0
1      1985.0
2      2008.0
3      2009.0
4      1996.0
...       ...
16593  2002.0
16594  2003.0
16595  2008.0
16596  2010.0
16597  2003.0

[16598 rows x 1 columns]

In [267]:
data1.isna()

        Year
0      False
1      False
2      False
3      False
4      False
...      ...
16593  False
16594  False
16595  False
16596  False
16597  False

[16598 rows x 1 columns]

In [268]:
data1.dropna()

         Year
0      2006.0
1      1985.0
2      2008.0
3      2009.0
4      1996.0
...       ...
16593  2002.0
16594  2003.0
16595  2008.0
16596  2010.0
16597  2003.0

[16327 rows x 1 columns]

In [269]:
data1.drop_duplicates()
data1.count()

Year    16327
dtype: int64

In [270]:
z=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv', usecols=['Name','Global_Sales'], index_col='Name' )
z

                                                  Global_Sales
Name
Wii Sports                                               82.74
Super Mario Bros.                                        40.24
Mario Kart Wii                                           35.82
Wii Sports Resort                                        33.00
Pokemon Red/Pokemon Blue                                 31.37
...                                                        ...
Woody Woodpecker in Crazy Castle 5                        0.01
Men in Black II: Alien Escape                             0.01
SCORE International Baja 1000: The Official Game          0.01
Know How 2                                                0.01
Spirits & Spells                                          0.01

[16598 rows x 1 columns]

In [271]:
z[0:10:2]

                           Global_Sales
Name
Wii Sports                        82.74
Mario Kart Wii                    35.82
Pokemon Red/Pokemon Blue          31.37
New Super Mario Bros.             30.01
New Super Mario Bros. Wii         28.62

**Reindexing**

In [272]:
y=pd.Series([11,22,33],index=('A','B','C'))
y

A    11
B    22
C    33
dtype: int64

In [273]:
y.reindex(index=['A','y','B','Z'])

A    11.0
y     NaN
B    22.0
Z     NaN
dtype: float64

**Get()Function**

In [274]:
print(z.get('Contra',default='No Match Founded'))

No Match Founded

In [275]:
Z=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv', usecols=['Genre'] )
Z

              Genre
0            Sports
1          Platform
2            Racing
3            Sports
4      Role-Playing
...             ...
16593      Platform
16594       Shooter
16595        Racing
16596        Puzzle
16597      Platform

[16598 rows x 1 columns]

In [276]:
Z.value_counts(ascending=True)

Genre
Puzzle           582
Strategy         681
Fighting         848
Simulation       867
Platform         886
Racing          1249
Adventure       1286
Shooter         1310
Role-Playing    1488
Misc            1739
Sports          2346
Action          3316
Name: count, dtype: int64

In [277]:
xyz=pd.read_csv('/kaggle/input/videogamesales/vgsales.csv', usecols=['Global_Sales'] )
xyz

       Global_Sales
0             82.74
1             40.24
2             35.82
3             33.00
4             31.37
...             ...
16593          0.01
16594          0.01
16595          0.01
16596          0.01
16597          0.01

[16598 rows x 1 columns]

In [278]:
def category(num):
    if num>=30:
        return'super'
    elif num>=30:
        return'Average'
    else:
        return'belowAverage'

In [279]:
B=xyz.apply(category)
B

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().